{% include "heading.tmpl" %}
{% raw %}
name: SLC-CD-Flavor

on:
  workflow_call:
    inputs:
      flavor:
          description: 'A flavor'
          required: true
          type: string
    secrets:
      CI4_DOCKERHUB_USERNAME:
          required: true
      CI4_DOCKERHUB_TOKEN:
          required: true

permissions:
  contents: read

jobs:

  build:
    uses: ./.github/workflows/slc_ci_build_slc.yml
    with:
      flavor: ${{ inputs.flavor }}
      build-mode: 'release'
    secrets:
      CI4_DOCKERHUB_USERNAME: ${{ secrets.CI4_DOCKERHUB_USERNAME }}
      CI4_DOCKERHUB_TOKEN: ${{ secrets.CI4_DOCKERHUB_TOKEN }}

  test:
    needs: [build]
    uses: ./.github/workflows/slc_ci_test_slc.yml
    with:
      flavor: ${{ inputs.flavor }}
    secrets:
      CI4_DOCKERHUB_USERNAME: ${{ secrets.CI4_DOCKERHUB_USERNAME }}
      CI4_DOCKERHUB_TOKEN: ${{ secrets.CI4_DOCKERHUB_TOKEN }}{% endraw %}
