[tool.poetry]
name = "exasol-script-languages-container-ci-setup"
version = "1.2.1"
description = "Manages AWS cloud CI build infrastructure."

license = "MIT"

authors = [
    "Thomas Uebensee <ext.thomas.uebensee@exasol.com>"
]

[tool.poetry.dependencies]
python = ">=3.8.0,<4.0"
click = "^8.1.3"
jinja2 = ">=3.1.0"
exasol_error_reporting_python = "^0.3.0"
exasol-script-languages-container-ci = "^1.3.4"
boto3 = "1.26.163"
botocore = "1.29.163"
jsonschema = "^4.17.3"
PyGithub = "^1.55.0"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.dev-dependencies]
toml = ">=0.10.2"
pytest = "^7.1.1"
pytest-mock = "^3.7.0"
cfn-lint = "^0.75.1"

[tool.pytest.ini_options]
minversion = "6.0"

testpaths = [
    "test"
]
